<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Прашања</title>

</head>
<body>

<div class="container">
    <h1>Одговори-слика</h1>

    <form ng-submit="vm7.save()" enctype="multipart/form-data">
        <div class="form-group">
            <label>Прашање</label>
            <input class="form-control"
                   type="text"
                   ng-required="true"
                   ng-model="vm7.question.question">
        </div>
        <div class="form-group">
            <label>Ниво</label>
            <div ng-repeat="e in vm7.levels">
                <input ng-model='vm7.question.level'
                       type="radio"
                       ng-value={{e}}>{{e.level}}</input>
            </div>
        </div>
        <div class="form-group">
            <label>Болест</label>
            <div ng-repeat="e in vm7.possibleDiseases">
                <input ng-model='vm7.question.disease'
                       type="radio"
                       ng-value={{e}}>{{e.name}}</input>
            </div>
        </div>

        <div class="form-group">
            <label>Слики</label>

            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <input type="file" demo-file-model="myFile"  class="form-control" id ="file"/></td>
                    <td>
                        <input ng-model='vm7.imageStatus[0]' type="checkbox">Точен одговор</input>
                    </td>
                </tr>
                <tr>
                    <td><input type="file" demo-file-model="myFile"  class="form-control" id ="file1"/></td>
                    <td>
                        <input ng-model='vm7.imageStatus[1]' type="checkbox">Точен одговор</input>
                    </td>
                </tr>
                <tr>
                    <td><input type="file" demo-file-model="myFile"  class="form-control" id ="file2"/></td>
                    <td>
                        <input ng-model='vm7.imageStatus[2]' type="checkbox">Точен одговор</input>
                    </td>
                </tr>
                <tr>
                    <td><input type="file" demo-file-model="myFile"  class="form-control" id ="file3"/></td>
                    <td>
                        <input ng-model='vm7.imageStatus[3]' type="checkbox">Точен одговор</input>
                    </td>
                </tr>
            </table>
        </div>

        <br/>
        <input class="btn btn-primary" type="submit" value="Внеси">
    </form>

    <br/>

    <table ng-show="vm7.questions.length>0" class="table table-bordered table-striped">
        <tr>
            <th>Прашање</th>
            <th>Ниво</th>
            <th>Болест</th>
            <th>Слики</th>
            <th></th>
        </tr>
        <tr ng-repeat="e in vm7.questions | startFrom:vm7.currentPage*vm7.pageSize | limitTo:vm7.pageSize" ng-show="e.questionType=='MULTIPLE_IMAGE_SELECT'">
            <td  style="max-width: 400px">{{e.question}}</td>
            <td>{{e.level.level}}</td>
            <td>{{e.disease.name}}</td>
            <td>
                <p ng-repeat="i in vm7.myAnswers" ng-show="i.question.id==e.id">
                    <img ng-src="/answerImage/getImage/{{i.question.id}}/{{i.number}}" style="height: 50px;width: 50px"> -
                    <span ng-show="i.status==true">Точен одговор</span>
                    <span ng-show="i.status==false">Неточен одговор</span>
                </p>
            </td>
            <td>
                <button class="btn btn-xs btn-default"
                        ng-click="vm7.edit(e)">
                    Измени
                </button>
                <button class="btn btn-xs btn-danger"
                        ng-click="vm7.remove(e)">
                    Отстрани
                </button>
            </td>
        </tr>

    </table>
    <div style="text-align: center">

        <ul class="pagination">
            <li ng-class="{disabled:vm7.currentPage === 0}">
                <a ng-click="vm7.currentPage=0">First</a>
            </li>
            <li ng-class="{disabled:vm7.currentPage === 0}">
                <a ng-click="vm7.currentPage=vm7.currentPage-1">Previous</a>
            </li>
            <li ng-repeat="page in vm7.loadPages()" ng-class="{active:vm7.currentPage === page}">
                <a ng-click="vm7.currentPage=page">{{page + 1}}</a>
            </li>
            <li ng-class="{disabled:vm7.currentPage === vm7.numberOfPages()-1}">
                <a ng-click="vm7.currentPage=vm7.currentPage+1">Next</a>
            </li>
            <li ng-class="{disabled:vm7.currentPage === vm7.numberOfPages()-1}">
                <a ng-click="vm7.currentPage=vm7.numberOfPages()-1">Last</a>
            </li>
        </ul>

    </div>


</div>

</body>
</html>