<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Одговори</title>
</head>
<body>
    <div class="container">
        <h1>Одговори</h1>
        <form ng-submit="vm1.save()">
            <div class="form-group">
                <label>Одговор</label>
                <input class="form-control"
                       type="text"
                       ng-required="true"
                       ng-model="vm1.entity.description">
            </div>
            <input class="btn btn-primary" type="submit" value="Внеси">
        </form>

        <br/>

        <table ng-show="vm1.entities.length>0" class="table table-bordered table-striped">
            <tr>
                <th>Одговор</th>
                <th></th>
            </tr>
            <tr  ng-repeat="e in vm1.entities | startFrom:vm1.currentPage*vm1.pageSize | limitTo:vm1.pageSize">
                <td>{{e.description}}</td>
                <td>
                    <button class="btn btn-xs btn-default"
                            ng-click="vm1.edit(e)">
                        Измени
                    </button>
                    <button class="btn btn-xs btn-danger"
                            ng-click="vm1.remove(e)">
                        Отстрани
                    </button>
                </td>
            </tr>
        </table>
        <div style="text-align: center">

            <ul class="pagination">
                <li ng-class="{disabled:vm1.currentPage === 0}">
                    <a ng-click="vm1.currentPage=0">First</a>
                </li>
                <li ng-class="{disabled:vm1.currentPage === 0}">
                    <a ng-click="vm1.currentPage=vm1.currentPage-1">Previous</a>
                </li>
                <li ng-repeat="page in vm1.loadPages()" ng-class="{active:vm1.currentPage === page}">
                    <a ng-click="vm1.currentPage=page">{{page + 1}}</a>
                </li>
                <li ng-class="{disabled:vm1.currentPage === vm1.numberOfPages()-1}">
                    <a ng-click="vm1.currentPage=vm1.currentPage+1">Next</a>
                </li>
                <li ng-class="{disabled:vm1.currentPage === vm1.numberOfPages()-1}">
                    <a ng-click="vm1.currentPage=vm1.numberOfPages()-1">Last</a>
                </li>
            </ul>

        </div>

    </div>
</body>
</html>