<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h1>Болести</h1>
        <form ng-submit="vm3.save()">
            <div class="form-group">
                <label>Болест</label>
                <input class="form-control"
                       type="text"
                       ng-required="true"
                       ng-model="vm3.entity.name">
            </div>
            <input class="btn btn-primary" type="submit" value="Внеси">
        </form>

        <br/>

        <table ng-show="vm3.entities.length>0" class="table table-bordered table-striped">
            <tr>
                <th>Болест</th>
                <th></th>
            </tr>
            <tr ng-repeat="e in vm3.entities | startFrom:vm3.currentPage*vm3.pageSize | limitTo:vm3.pageSize">
                <td>{{e.name}}</td>
                <td>
                    <button class="btn btn-xs btn-default"
                            ng-click="vm3.edit(e)">
                        Измени
                    </button>
                    <button class="btn btn-xs btn-danger"
                            ng-click="vm3.remove(e)">
                        Отстрани
                    </button>
                </td>
            </tr>
        </table>
        <div style="text-align: center" ng-show="vm3.entities.length>0">

            <ul class="pagination">
                <li ng-class="{disabled:vm3.currentPage === 0}">
                    <a ng-click="vm3.currentPage=0">First</a>
                </li>
                <li ng-class="{disabled:vm3.currentPage === 0}">
                    <a ng-click="vm3.currentPage=vm3.currentPage-1">Previous</a>
                </li>
                <li ng-repeat="page in vm3.loadPages()" ng-class="{active:vm3.currentPage === page}">
                    <a ng-click="vm3.currentPage=page">{{page + 1}}</a>
                </li>
                <li ng-class="{disabled:vm3.currentPage === vm3.numberOfPages()-1}">
                    <a ng-click="vm3.currentPage=vm3.currentPage+1">Next</a>
                </li>
                <li ng-class="{disabled:vm3.currentPage === vm3.numberOfPages()-1}">
                    <a ng-click="vm3.currentPage=vm3.numberOfPages()-1">Last</a>
                </li>
            </ul>

        </div>
    </div>
</body>
</html>