<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Нивоа</h1>
    <form ng-submit="vm5.save()">
        <div class="form-group">
            <label>Ниво</label>
            <input class="form-control"
                   type="number"
                   ng-required="true"
                   ng-model="vm5.entity.level">
        </div>
        <div class="form-group">
            <label>Поени за искуство</label>
            <input class="form-control"
                   type="number"
                   ng-required="true"
                   ng-model="vm5.entity.xp">
        </div>

        <div class="form-group">
            <label>Максимум поени за ниво</label>
            <input class="form-control"
                   type="number"
                   ng-required="true"
                   ng-model="vm5.entity.maxPoints">
        </div>

        <input class="btn btn-primary" type="submit" value="Внеси">
    </form>

    <br/>

    <table ng-show="vm5.entities.length>0" class="table table-bordered table-striped">
        <tr>
            <th>Ниво</th>
            <th>Поени за искуство</th>
            <th>Максимум поени за ниво</th>
            <th></th>
        </tr>
        <tr ng-repeat="e in vm5.entities | startFrom:vm5.currentPage*vm5.pageSize | limitTo:vm5.pageSize">
            <td>{{e.level}}</td>
            <td>{{e.xp}}</td>
            <td>{{e.maxPoints}}</td>
            <td>
                <button class="btn btn-xs btn-default"
                        ng-click="vm5.edit(e)">
                    Измени
                </button>
                <button class="btn btn-xs btn-danger"
                        ng-click="vm5.remove(e)">
                    Отстрани
                </button>
            </td>
        </tr>
    </table>
    <div style="text-align: center">

        <ul class="pagination">
            <li ng-class="{disabled:vm5.currentPage === 0}">
                <a ng-click="vm5.currentPage=0">First</a>
            </li>
            <li ng-class="{disabled:vm5.currentPage === 0}">
                <a ng-click="vm5.currentPage=vm5.currentPage-1">Previous</a>
            </li>
            <li ng-repeat="page in vm5.loadPages()" ng-class="{active:vm5.currentPage === page}">
                <a ng-click="vm5.currentPage=page">{{page + 1}}</a>
            </li>
            <li ng-class="{disabled:vm5.currentPage === vm5.numberOfPages()-1}">
                <a ng-click="vm5.currentPage=vm5.currentPage+1">Next</a>
            </li>
            <li ng-class="{disabled:vm5.currentPage === vm5.numberOfPages()-1}">
                <a ng-click="vm5.currentPage=vm5.numberOfPages()-1">Last</a>
            </li>
        </ul>

    </div>
</div>
</body>
</html>